:root {
    --primary-color-grey: #0e0e0e;
    --primary-color-orange: #ff9000;
    --primary-color-white: #ffffff;
    --primary-color-butt: #c6c6c6c6;
    --primary-color-black: #000000;
    --primary-color-notific: #15151515;
}

body{
    font-family: Arial,Helvetica,sans-serif;
    background-color: var(--primary-color-black);
    color: var(--primary-color-butt);
    font-weight: bold;
    text-align: center;

}

#coordinate-system{
    background-color: var(--primary-color-grey);
    /*color: var(--primary-color-white);*/
    -webkit-border-radius: 10px;

}
/*button, .submit-button, .clear_table{*/
/*    font-weight: bold;*/
/*    font-family: Arial,Helvetica,sans-serif;*/
/*    background-color: var(--primary-color-orange);*/
/*    color: var(--primary-color-black);*/
/*    -webkit-border-radius: 5px ;*/
/*}*/
/*button:hover, .submit-button:hover, .clear_table:hover{*/
/*    font-family: Arial,Helvetica,sans-serif;*/
/*    background-color: var(--primary-color-butt);*/
/*    color: var(--primary-color-black);*/
/*    -webkit-border-radius: 5px ;*/
/*}*/

legend{
    font-weight: bold;
    background-color: var(--primary-color-notific);
    color: var(--primary-color-butt);
    -webkit-border-radius: 5px ;
    font-size: 16px;
}



input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: #fff;
    /* Not removed via appearance */
    margin: 0;
}
input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: var(--primary-color-orange);
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid var(--primary-color-orange);
    border-radius: 0.15em;
    transform: translateY(-0.075em);
}

.form-control + .form-control {
    margin-top: 1em;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--primary-color-orange);
}
input[type="checkbox"] {
    background-color: #0e0e0e;
    display: inline-grid;
    align-items: center; /* Выравниваем по центру по вертикали */
    place-content: center;
    width: 5%;
    border-radius: 100px;
    font-size: 16px;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--primary-color-orange);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}
input[type="checkbox"]::before {
    /* ...existing styles */

    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
input[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid var(--primary-color-orange);
    outline-offset: max(2px, 0.15em);
}

label {
    color: var(--primary-color-butt);
    font-weight: bold;
    margin-right: 2%;
    font-size: 16px;
}

button, .submit-button, .clear_table {
    background-color: var(--primary-color-orange);
    border-radius: 100px;
    box-shadow: rgba(255, 255, 255, 0.2) 0 -25px 18px -14px inset, rgba(230, 136, 13, 0.68) 0 1px 2px,rgba(230, 136, 13, 0.68) 0 2px 4px,rgba(230, 136, 13, 0.68) 0 4px 8px,rgba(230, 136, 13, 0.68) 0 8px 16px,rgba(230, 136, 13, 0.68) 0 16px 32px;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:hover, .submit-button:hover, .clear_table:hover {
    box-shadow: rgba(255, 255, 255, 0.45) 0 -25px 18px -14px inset, rgba(230, 136, 13, 0.68) 0 1px 2px,rgba(230, 136, 13, 0.68) 0 2px 4px,rgba(230, 136, 13, 0.68) 0 4px 8px,rgba(230, 136, 13, 0.68) 0 8px 16px,rgba(230, 136, 13, 0.68) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

input[type=text] {
    appearance: none;
    border: none;
    outline: none;
    background-color: var(--primary-color-orange);
    border-radius: 100px;
    box-shadow: rgba(255, 255, 255, 0.2) 0 -25px 18px -14px inset, rgba(230, 136, 13, 0.68) 0 1px 2px,rgba(230, 136, 13, 0.68) 0 2px 4px,rgba(230, 136, 13, 0.68) 0 4px 8px,rgba(230, 136, 13, 0.68) 0 8px 16px,rgba(230, 136, 13, 0.68) 0 16px 32px;
    color: black;
    font-size: 16px;
    padding: 7px 20px;
}

.card {
    display: inline-block;
    background-color: var(--primary-color-grey);
    /*color: var(--primary-color-white);*/
    -webkit-border-radius: 10px;
    justify-content: center; /* Горизонтальное центрирование */
    align-items: center; /* Вертикальное центрирование */
    margin: 5px 5px 20px 5px;
    /*height: 30vh; !* Установите высоту, чтобы элемент занимал всю доступную высоту экрана, если нужно *!*/
}

.card-user-den {
    display: inline-block;
    background-color: var(--primary-color-grey);
    /*color: var(--primary-color-white);*/
    -webkit-border-radius: 10px;
    justify-content: center; /* Горизонтальное центрирование */
    align-items: center; /* Вертикальное центрирование */
    margin: 5px 10px 5px 10px;
    width: 70vh;
    /*height: 30vh; !* Установите высоту, чтобы элемент занимал всю доступную высоту экрана, если нужно *!*/
}

.table {

    width: 100%;

    border: none;

    margin-bottom: 20px;

}

.table thead th {

    font-weight: bold;

    text-align: left;

    border: none;

    padding: 10px 15px;

    background: var(--primary-color-grey);

    font-size: 14px;

}

.table thead tr th:first-child {

    border-radius: 8px 0 0 8px;

}

.table thead tr th:last-child {

    border-radius: 0 8px 8px 0;

}

.table tbody td {

    text-align: left;

    border: none;

    padding: 10px 15px;

    font-size: 14px;

    vertical-align: top;

}

.table tbody tr:nth-child(even){

    background: var(--primary-color-grey);

}

.table tbody tr td:first-child {

    border-radius: 8px 0 0 8px;

}

.table tbody tr td:last-child {

    border-radius: 0 8px 8px 0;

}

h1 {
    display: inline-block;
}
.cool-list{
    color: white;
}
.cool-try{
    color: black;
    background-color: var(--primary-color-orange);
    /*color: var(--primary-color-white);*/
    -webkit-border-radius: 10px;
    width: 7vh;
    margin: 10px 10px 10px 5px;
}
